/* 
Global Style Sheet
Author: Chimpodue + SuperSingularity
*/

/*Hamburger Menu Animation*/
#nav-icon3 {
  width: 50px;
  height: 45px;
  position: relative;
  margin: 16px 8px 0 0;
  float:right;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span{
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #333;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 14px;
}

#nav-icon3 span:nth-child(4) {
  top: 28px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*Hide the drop down icon inside the bootstrap dropdown menu*/
/*
.dropdown-toggle::after{content:" ";display:none;}
*/

/*Menu Move to right*/
.nav{
  float:right;
}
/*Drop Down Fix open*/
.dropdown-menu{transform: translate3d(-73px, 40px, 0px);}

/*Body*/

body{overflow:hidden;}

/*Footer*/
/*Copyright*/
#copyright{
  transform:rotate(-90deg);
  position: realtive;
  
}
/*Footer Tag*/
footer{
  position:absolute;
  left:-14px;
  top:90vh;
}